/*
*
*@autor Jhonathan Ribeiro
*@version 0.1
* 
 */
/*====================== layout ================================*/
html, body, .capa {
 height: 100%;
}
body {
 background: url('imagens/capa.png'),
             url('imagens/ruido.png'),
             linear-gradient(50deg,#ff4169,#7c26f8);
 background-attachment: fixed;
 font-family: Helvetica,Arial,sans-serif;
 overflow-x: hidden;/*-x: remove barra horizontal -y: remove barra vertical*/ 
}

/* -- Barra de navegação -- */
.img-logo {
 height: 40px;
 width: 132px;
 display: block;
 background: url('imagens/spotify.svg') no-repeat;
 background-size: contain;
 color: transparent;
}
nav.navbar-transparente {
 padding: 15px 0px;
 background: rgba(0, 0, 0, 0.6);
 border: none;
}
.navbar-brand {
 padding: 5px 15px;
}
.divisor {
 width: 1px;
 height: 16px;
 background: #fff;
 margin: 16px 10px;
}
.navbar-inverse .navbar-nav>li>a, footer .nav a{
 color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover{
 color: #9bf0e1;
 background: none;
}

/**
 *
 * Imagem de capa
 * 
 */
.capa {
 display: table;
 width: 100%;
}
.texto-capa {
 text-align: center;
 color: #fff;
 display: table-cell;
 vertical-align: middle;
}
/* -- botoes -- */
.btn-custom {
 color: #fff;
 border-radius: 500px;
 -webkit-border-radius: 500px;
 -moz-border-radius: 500px;
 padding: 10px 35px;
 text-transform: uppercase;
 margin: 0px 15px;
 transition: background 0.4s, color 0.4s;
}
.btn-roxo {
 background: #7c25f8;
 font-weight: 560;
}
.btn-roxo:hover {
 background: #6707e3;
 color: #fff;
}
.btn-branco {
 background: transparent;
 border: 2px solid #fff;
 font-weight: 560;
}
.btn-branco:hover { 
 background: #fff;
 color: #000;
}
/* secao de servico*/
#servicos {
 background: white;
 padding-top: 20px;
 padding-bottom: 20px;
}
/* recursos */
#recursos {
 color: white;
 padding-top: 20px;
 padding-bottom: 20px;
}
.albuns {
 padding: 10px 0px 10px 0px;
}
.rotacionar {
  transform: rotate(30deg);
 -webkit-transform: rotate(30deg);
 -ms-transform: rotate(30deg);
 padding-left: 80px;
}
/*Rodape*/
footer {
 background: #000;
 padding: 50px 0px  20px 0px;
 position: relative;
}
.item-rede-social {
 float: right;
}

/*======================== Tipografia ===========================*/
h1 {
 font-size: 100px;
 font-weight: 900;
 letter-spacing: -0.05em;/*diminui os espaços entre as letras*/
 margin-bottom: 50px;
}
h2 {
 font-size: 50px;
 font-weight: 700;
 letter-spacing: -0.04em;
}
h3 {
 font-size: 35px;
 font-weight: 700;
 letter-spacing: -0.04em;
}
#rodape h4 {
 color: #919496;
 font-size: 12px;
 text-transform: uppercase;
}
#servicos h2,#servicos h3 {
 color: #7c25f8;
}
#recursos h3 {
 color: #9bf0e1;
}